@page
@model CoreMVC_3.Pages.Page1Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <h3>Page1... A Razor Page Test</h3>
    <p>Just like a good old ASP.Net page, but in .Net Core MVC.
    <br />I wonder what would happen if you added an old ASPX page.
    </p>
</body>
</html>
